<header>
<img src="/assets/img/cat.png" alt="" >
<nav class="navBar">
    <div>
        <a href="">LOGIN</a>
    </div>
    <div>
       <a href="">REGISTRAR</a>
    </div>
</nav>
</header>
<main>

<div class="containerFotos">
    <div class="session">
 <img src="/assets/img/cat01.jpg" alt="" width="500px" height="600px">

 <img src="/assets/img/cat02.jpg" alt="" width="500px" height="600px">
 <img src="/assets/img/cat05.jpg" alt="" width="500px" height="600px">
    </div>
    <div class="sessionX">
 <img src="/assets/img/cat11.jpg" alt="" width="752px" height="700px">
 <img src="/assets/img/cat08.jpg" alt="" width="752px" height="700px">
    </div>
   
</div>
</main>

<footer>
<p>Todos os direitos reservados ©</p>
</footer>

